* {
    box-sizing: border-box;
}

:root{
    --primary-colour: rgb(255, 187, 0);
    --secondary-colour: rgb(37, 37, 37);
    --lightbg: rgb(238, 238, 238) ;

}

span{
    font-weight: 700;
}

.container-fluid{
    height: 80px;
    
}

li a{
    color:var(--secondary-colour)
}

.btn-warning:hover{
    background-color: rgb(255, 198, 43);
    border: 0px;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
}