@charset "utf-8";
/* CSS Document */

body{
	background-image: url("../images/main_bg.png");
	background-repeat: no-repeat;
	font-family: Trebuchet, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16;
	color: black;
	
}

p{

	
}

td{
    font-size: 16px;
    text-align: center;
}

div.info
{
	text-align: center;
	font-weight: normal;
	width: auto;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:16px;
	font-weight: bold;
}

div.image img
{
	display: inline;
	margin: 3px;

}


.proh:hover{
	background-color:#ffcd2f;
}

.sbutton {
  background-color: #ffcd2f;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.main{
	align-content: center;
	margin-left: auto;
  	margin-right: auto;
	border: 1px solid #ffcd2f;
  	border-collapse: collapse;
	
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
	
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: black;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.header{
	width: 100%;
	border-collapse: collapse;
	background-color: #000000
	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#000000;
  width:300;
}

li {
  float: left;
}

li a {
  display: block;
  
  text-align: center;
  
  color:white;
  padding: 14px 16px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}

ul li:hover {
  margin-left: 20px;
  font-weight: 600;
  color: #ffcd2f;
}

.login {
  width: 400px;
  padding: 6px 10px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 2px solid #ffcd2f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.buy {
  width: 400px;
  padding: 6px 10px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

  

p{
    align-content: center;
    font-style: italic;
    color: gray;
    text-align: center;
}

.signup{	
  margin-left: auto;
  margin-right: auto;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #3498DB;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}